{% extends "base.html.twig" %}

{% block title %}
	{{ title }}
{% endblock %}

{% block body %}
<h4>home/home.html.twig</h4>
	<div class="container">
		
		<div class="col-md-12">
			<h1 class="text-center">Présentation de la Société</h1></br>		
                <article><em>L'agence immobilière OLD SCHOOL Immobilier<em></br></br>
                    Une équipe à votre écoute !</br></br>			
                    Créée en 1300 avant J-C, l’agence OLD SCHOOL Immobilier vous accompagne sur l’ensemble de vos projets immobiliers en mettant à votre disposition une équipe de professionnels compétents.</br></br>				
                    <u><h4><em>Nos domaines d’interventions :</em></h4></u>
                    <strong>Location</strong></br>
                    <strong>Gestion locative</strong> (Garantie Loyers Impayés, Garantie détériorations Immobilières et protection juridique)</br>
                    <strong>Transaction :</strong> ancien, neuf, terrains et fonds de commerce</br></br>
                    Notre philosophie est de placer l’humain au cœur de nos priorités qu’il s’agisse des propriétaires, des locataires ou des acquéreurs qui nous font confiance.</br>				
                    Parce que nous croyons que l’accompagnement personnalisé est essentiel, Déclic Immobilier veut apporter une solution sur mesure à tous ses clients.</br></br>   				
                    Un réseau puissant !</br>				
                    Nous avons choisi d’être partenaire du groupement KRO-MAGNON qui partage ces valeurs et offre à l’agence OLD SCHOOL Immobilier les outils et les moyens permettant de vous proposer des services de qualité.</br>				
                    Le virtuel c’est bien, le contact humain c’est essentiel !</br>				
                    Au-delà de ce nouveau site que nous avons le plaisir de vous présenter, nous restons convaincus que notre métier est avant tout un métier de relation humaine et d’échange, c’est pourquoi nous vous invitons à venir nous rencontrer à l’agence, du lundi au vendredi de 9h à 12h et de 14h à 18h, pour évoquer d’une manière simple et conviviale vos projets de vie et d’avenir autour de l’habitat et trouver ensemble les solutions les plus adaptées.</br></br>				
                    L’équipe de OLD SCHOOL Immobilier</br>
                </article>
		</div>
	{% endblock %}
